body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header-section{
    display: flex;
}
.header-area01{
    width: 50%; 
}
.header-area02{
    width: 50%;
}
.header-area02 img{
    width: 76%;
    margin-left: 11%;
}
.header-area01 h2{
    margin-left: 10%;
    font-size: 50px; 
}
.header-area01 h3{
    margin-left: 10%;
    font-size: 40px;
}
.header-area01 h4{
    margin-left: 10%;
    font-size: 20px;
}
.header-area01 p{
    margin-left: 10%;
}
.header-area01 span{
    color: rgb(255, 0, 132);
}
.header-area01 a{
    display: block;
    margin-left: 10%;
    width: 18%; 
    text-decoration: none;
    color: #fff;
    background-color: rgb(255, 0, 132);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(255, 0, 132);
    border-radius: 3px;
}
.middle-section{
    display: flex;
    margin-top: 10%;
}
.middle-area01{
    width: 50%;
    margin-left: 10px;
}
.middle-area02{
    width: 50%;
    margin-left: 10%;
    position: relative;
}
.middle-area01 img{
    width: 80%;
    margin-left: 11%;
}
h1{
    font-size: 50px;
}
.middle-area02 p{
    width: 92%;
}

.middle-area02 img{
    display: block;
    position: absolute;
    top: 40%;
    bottom: 0;
    right: 0;
}
.middle-area02 a{
    display: block;
    width: 30%; 
    text-decoration: none;
    color: #fff;
    background-color: rgb(255, 0, 132);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(255, 0, 132);
    border-radius: 3px;
}
.footer-section{
    display:flex;
}
.footer-area01{
    margin-top: 20%;
}
.footer-area02{
    margin-top: 20%; 
}
.footer-section h1{
    margin-top: 15%;
}



